[submodule "3rdparty/flashinfer"]
	path = 3rdparty/flashinfer
	url = git@github.com:brian030128/flashinfer.git
	branch = cascade-persistent-fusion
[submodule "3rdparty/sglang"]
	path = 3rdparty/sglang
	url = git@github.com:brian030128/sglang.git
